services:
  # Service 1: Uvicorn main app
  web-app:
    build: .
    ports:
      - "8000:8000"
    # Load .env file
    env_file:
      - src/security/.env # Replace with the path to your .env file
    environment: 
      - REDIS_HOST=redis-db 
    depends_on:
      - redis-db

  # Service 2: Database
  redis-db:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data 

volumes:
  redis_data: